<link href="/css/styles.css" rel="stylesheet" type="text/css"/>

<table>
  <tr>
    <th></th>
    <th scope="col">A</th>
    <th scope="col">B</th>
    <th scope="col">C</th>
  </tr>
  <tr>
    <th scope="row">1</th>
      <td><input type="radio" name="A1" value="water">A1</td>
      <td><input type="radio" name="B1" value="water">B1</td>
      <td><input type="radio" name="C1" value="water">C1</td>
  </tr>
  <tr>
    <th scope="row">2</th>
      <td><input type="radio" name="A2" value="water">A2</td>
      <td><input type="radio" name="B2" value="ship">B2</td>
      <td><input type="radio" name="C2" value="water">C2</td>
  </tr>
  <tr>
    <th scope="row">3</th>
      <td><input type="radio" name="A3" value="water">A3</td>
      <td><input type="radio" name="B3" value="water">B3</td>
      <td><input type="radio" name="C3" value="water">C3</td>
  </tr>
</table>

<input type=image src=images/bomb_button.png alt="Bomb!">
