<h2>What's your name?</h2>

  <form action='/new_game' method='post'>
    Name: <input type="text" name="name">
    <input type="submit" value="Register">
  </form>

<% if @name.nil? %>
<h2>Welcome to Battleships!</h2>
<% elsif @name.empty? %>
<h2>Welcome to your Battleship game!</h2>
<% elsif @name %>
<h2>Welcome, <%= @name %></h2>
<% end %>


<table>
  <tr>
    <th></th>
    <th scope"col">A</th>
    <th scope"col">B</th>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>x<td>
    <td>x<td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>x<td>
    <td>x<td>
  </tr>
</table>
